// variables

// カラー
$text-color-bk: #333333; // テキストカラー（黒）
$text-color-wh: #FFFFFF; // テキストカラー（白）
$text-color-br: #491D01; // テキストカラー（茶）
$link-color: #491D01; // リンクカラー

// フォント
$ff-base: YuGothic,'Yu Gothic',sans-serif; // フォントファミリー
$fz-base: 16px; // ベースフォントサイズ
$fw-base: 400; // ベースフォントウェイト
$lh-base: 1.6; // ベース行間

// レイアウト
$inner-width: 1240px; // インナー幅サイズ
$tab-width: 768px; // タブレット下限サイズ

// ブレークポイント
$breakpoints: (
  // タブレット以上の場合
  "tab": "screen and (min-width: #{$tab-width})",
  // PC以上の場合
  "pc": "screen and (min-width: #{$inner-width})"
);