/*===================================================================
# フッター
===================================================================*/

@use "../global/variables" as v;
@use "../global/mixin" as m;

.l-footer {
    padding-top: 55px;
    background-color: #f7f7f7;

    @include m.mq('pc'){
        padding-top: 25px;
        padding-bottom: 40px;
    }

    &__inner{
        margin: 0 auto;
        max-width: 1200px;
    }

    &__contents{

        @include m.mq('pc'){ /* PCでは横並びにして、左右を入れ替える */
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    &__lists{ /* フッターメニュー */
        text-align: center;

        @include m.mq('pc'){
            margin-top: 15px;
        }
    }

    &__list{

        &:not(:last-child){
            margin-bottom: 6px;
        }

    }

    &__listLink{
        font-size: 14px;
        line-height: 22px;
        
        @include m.mq('pc'){
            font-size: 20px;
        }

    }

    &__copyrightPc{ /* PC用のコピーライト */
        display: none; /* デフォルトは非表示 */
        text-align: center;
        font-size: 20px;
        margin-top: 20px;

        @include m.mq('pc'){
            display: block;
        }
    }

    &__contentWrap{ /* ロゴとSNSアイコンを横並びにする */
        display: flex;
        gap: 17px;
        max-width: 325px;
        margin: 23px auto 0;

        @include m.mq('pc'){
            gap: 30px;
            max-width: 410px;
        }
    }

    &__logo{ /* ロゴ */
        width: 162px;
    }

    &__icons{ /* SNSアイコン */
        display: flex;
        gap: 15px;
    }

    &__icon{
        width: 29.05px;
        height: 29.05px;
        opacity: 0.8;
        margin-top: 50px;
    }

    &__info{ /* 住所とemail */
        font-size: 14px;
        color: v.$text-color-br;
        max-width: 280px;
        margin: 0 auto;
        line-height: 22px;

        @include m.mq('pc'){
            font-size: 20px;
            line-height: 32px;
            max-width: 390px;
            margin-top: -7px;
            margin-left: 25px;
        }
    }

    &__copyrightSp{ /* SP用のコピーライト */
        display: block;
        text-align: center;
        color: v.$text-color-br;
        font-size: 20px;
        line-height: 32px;
        margin-top: 65px;
        padding-bottom: 45px;

        @include m.mq('pc'){
            display: none; /* PCでは非表示にする */
        }
    }
}