@use "../global/variables" as v;
@use "../global/mixin" as m;

.l-header {

    &__inner{
        height: 80px;
        position: relative;
        z-index: 100;
    }

    &__contents{
        display: flex;
        justify-content: space-between;
        margin-right: 30px;
        align-items: center;
    }

    &__logo{
        width: 165px;
    }

    /* SP用のメニュー ここから */
    &__navSp {
        position: fixed;
        width: 100%;
        height: 600px;
        top: 0px;
        right: 0;
        z-index: 99;
        transform: translateX(105%);
        transition: all 0.5s ease 0s;
        background-color: #F0E6E5;
        text-align: left;
        padding-top: 40px;
        padding-left: 40px;
        opacity: 0.8;
    }

    &__listsSp{
        padding-top: 170px;
        text-align: center;
    }
    /* SP用のメニュー ここまで */

    /* PC用のメニュー ここから */
    &__navPc {
        display: none;

        @include m.mq('pc'){
            display: block;
        }
    }

    &__listsPc{

        @include m.mq('pc'){
            display: flex;
        }
    }

    /* PC用のメニュー ここまで */

}