/*===================================================================
# ファーストビューセクション
===================================================================*/

@use "../../global/variables" as v;
@use "../../global/mixin" as m;

.p-fv {
  position: relative;
  padding: 38px 0 184px;

  @include m.mq("pc") {
    padding: 0;
  }

  &__message {
    padding: 0 20px;

    @include m.mq("pc") {
      position: absolute;
      top: calc(203 / 700 * 100%);
      left: calc(880 / 1440 * 100%);
    }
  }

  &__title {
    display: inline-block;
    position: relative;
    font-size: 30px;
    line-height: normal;
    animation-delay: 5s;

    @include m.mq("pc") {
      font-size: 50px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 30%;
      background: rgba(249, 169, 162, 0.3);
      border-radius: 50px;
      top: 50%;
      left: 40%;
      transform: translateY(-50%);
      animation: border_anime 3s linear forwards;
      animation-delay: 9s;

      @include m.mq("pc") {
        height: 40%;
      }
    }
  }

  @keyframes border_anime {
    0% {
      width: 0;
    }
    100% {
      width: 47%;
    }
  }

  &__sub-title {
    margin-top: 14px;
    font-size: 22px;
    font-weight: 300;
    line-height: normal;

    @include m.mq("pc") {
      /*font-size修正*/
      margin-top: 47px;
      font-size: 30px;
    }
  }

  &__picture {
    /*画像変更*/
    margin-top: 37px;
    padding-top: calc(329 / 375 * 100%);
    background: url(../../../../../assets/img/fv-flower.png) no-repeat center
      center / cover;

    @include m.mq("pc") {
      margin-top: 0;
      padding-top: calc(700 / 1440 * 100%);
      background: url(../../../../../assets/img/fv-flower.png) no-repeat top
        left / calc(1050 / 1440 * 100%);
    }
  }

  &__scrollDown {
    position: absolute;
    right: 12%;
    animation: arrowmove 2s ease-in-out infinite;

    @include m.mq("pc") {
      bottom: 10px;
      right: calc(69 / 1440 * 100%);
      right: 6%;
    }

    @keyframes arrowmove {
      0% {
        bottom: 1%;
      }
      50% {
        bottom: 3%;
      }
      100% {
        bottom: 1%;
      }
    }

    span {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.14;
      writing-mode: vertical-rl;
      text-orientation: upright;

      @include m.mq("pc") {
        font-size: 14px;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      background: url(../img/guidance_down-arrow.png) no-repeat center
        center/contain;
      width: 80px;
      height: 80px;
      top: 0;
      left: -20px;

      @include m.mq("pc") {
        width: 100px;
        height: 100px;
        left: -30px;
      }
    }
  }
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.delay-time02 {
  animation-delay: 6s;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ===============================================
# loader
=============================================== */
/*最初のTOP画像追加*/
.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url(../../../../../assets/img/loader-bg.png) no-repeat
    center/cover;
  z-index: 110;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.6);
    top: 0;
    left: 0;
    z-index: 120;
  }
}

.loader__logo {
  content: "";
  display: block;
  position: absolute;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 130;
  display: none;

  img {
    width: 100%;
    height: 100%;
  }
}
