/*===================================================================
# プランセクション
===================================================================*/

@use "../../global/variables" as v;
@use "../../global/mixin" as m;

.p-plan{
    background-image: url(../../../../../assets/img/plan-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    @include m.mq('pc'){
        background-image: url(../../../../../assets/img/plan-bg_pc.jpg);
        // background-position: center center;
    }

    &__courseWrap{ /* コースパート全体 */
        margin: 0 auto 60px;
        text-align: center;

        @include m.mq('tab'){
            max-width: 850px;
        }

        @include m.mq('pc'){
            max-width: 976px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__courses {
        margin-top: 115px;

        @include m.mq('tab'){
            display: flex;
            align-items: center;
            margin-top: 96px;
            margin-left: 20px;
            margin-right: 20px;
            justify-content: space-between;
        }
    
        @include m.mq('pc'){
            margin-top: 96px;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__course{ /* 各コース */
        border: 1px solid #333;
        background-color: #FCFFFC;
        margin: 0 auto;
        width: calc(266px / 375px * 100%);
        height: auto;
        position: relative;
        padding-bottom: 50px;
        border-radius: 3px;

        @include m.mq('tab'){
            width: 300px;
            margin-left: 0;
            margin-right: 0;
        }

        @include m.mq('pc'){
            width: 350px;
            height: 468px;
            margin: 0;
            padding-bottom: 0;
        }

        &::after{ /* 選べるコースの背景 */
            position: absolute;
            content: "";
            background-color: #FCFFFC;
            width: 187px;
            height: 52px;
            left: 50%;
            transform: translateX(-50%);
            top: -27px;
            filter: blur(10px);

            @include m.mq('pc'){
                width: 274.91px;
            }
        }
    }

    &__upper { /* 枠のタイトル（選べるコース） */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -16px;
        background-color: #FCFFFC;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        z-index: 10;
        flex-wrap: nowrap;
        width: 155px;
        height: 30px;
        color: v.$text-color-br;

        @include m.mq('pc'){
            gap: 0;
            width: 255px;
        }
    }

    &__upperText{ /* テキスト→「選べるコース」 */
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -0.05em;

        @include m.mq('pc'){
            font-size: 30px;
            line-height: 48px;
        }
    }

    &__upperNum{ /* テキスト→「①または②」 */
        font-size: 24px;
        line-height: 38px;
        letter-spacing: -0.05em;

        @include m.mq('pc'){
            font-size: 30px;
            line-height: 48px;
        }
    }

    &__courseTitle { /* コース名 */
        margin-top: 44px;
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;

        @include m.mq('pc'){
            font-size: 28px;
            line-height: 45px;
            margin-top: 38px;
        }
    }

    &__price { /* 金額 */
        font-size: 18px;
        line-height: 29px;

        @include m.mq('pc'){
            font-size: 22px;
            line-height: 35px;
            margin-top: 2px;
        }
    }

    &__priceNum{ /* 金額の数字 */
        font-size: 24px;
        font-weight: 500;
        line-height: 38px;
        margin-right: 7px;

        @include m.mq('pc'){
            font-size: 32px;
            line-height: 51px;
        }
    }

    &__shipping { /* 送料無料 */
        font-size: 18px;
        line-height: 29px;

        @include m.mq('pc'){
            font-size: 22px;
            line-height: 27px;
        }
    }

    &__courseImg{ /* コース内の画像 */
        width: calc(173px / 265px * 100%);
        margin: 13px auto 0;

        @include m.mq('pc'){
            width: 239px;
            height: 260px;
        }
    }

    &__lightImg{ /* PCでのコース画像のマージン（ライト） */
        margin-top: 4px;
        margin-bottom: 8px;
    }

    &__standardImg{ /* PCでのコース画像のマージン（スタンダード） */
        margin-top: 12px;
    }

    &__lowerText { /* お花の本数 */
        position: absolute;
        background-color: #FFD9D0E5;
        border-radius: 3px;
        opacity: 0.9;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        padding: 1px 15px;
        font-size: 18px;
        line-height: 29px;
        color: v.$text-color-br;

        @include m.mq('pc'){
            font-size: 24px;
            line-height: 38px;
        }
    }

    &__or { /* プランの間にある「or」 */
        margin: 15px auto;
        font-size: 38px;
        font-weight: 500;
        line-height: 61px;
        color: v.$text-color-br;

        @include m.mq('pc'){
            font-size: 64px;
            line-height: 103px;
        }
    }

    &__plus { /* コースと選べる間隔との間にあるプラス画像 */
        width: 40px;
        height: 40px;
        margin: 54.5px auto;

        @include m.mq('tab'){
            margin-top: 40px;
            margin-bottom: 40px;
        }

        @include m.mq('pc'){
            width: 60px;
            height: 60px;
            margin-top: 7px;
            margin-bottom: 44px;
        }
    }

    &__intervals { /* 選べる間隔パート */
        border: 1px solid #333;
        background-color: #FCFFFC;
        margin: 0 auto;
        width: calc(328px / 375px * 100%);
        border-radius: 3px;
        height: auto;
        position: relative;
        padding-top: 23px;
        padding-bottom: 46px;
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 28px;

        @include m.mq('tab'){
            width: calc(100% - 40px);
            margin-left: 20px;
            margin-right: 20px;
            gap: 70px;
        }

        @include m.mq('pc'){
            padding-top: 12px;
            padding-bottom: 40px;
            gap: 200px;
            margin: 0 auto;
            width: 976px;
        }

        &::after{ /* 選べる間隔の背景 */
            position: absolute;
            content: "";
            background-color: #FCFFFC;
            // width: calc(187px / 328px * 100%);
            width: 187px;
            height: 52px;
            left: 50%;
            transform: translateX(-50%);
            top: -27px;
            filter: blur(10px);

            @include m.mq('pc'){
                width: 201px;
                height: 50px;
            }
        }
    }
    
    &__intervalsTitle { /* 選べる間隔のタイトル */
        position: absolute;
        background-color: #FCFFFC;
        left: 50%;
        transform: translateX(-50%);
        top: -17px;
        white-space: nowrap;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -0.05em;
        color: v.$text-color-br;
        z-index: 10;

        @include m.mq('pc'){
            font-size: 30px;
            line-height: 48px;
            top: -26px;
        }
    }
    
    &__interval { /* 間隔のパターン */
        margin-top: 30px;
    }
    
    &__intervalWeek { /* 毎週・隔週 */
        font-size: 22px;
        font-weight: 700;
        line-height: 35px;

        @include m.mq('pc'){
            font-size: 28px;
            line-height: 45px;
        }
    }
    
    &__intervalText { /* お好きな曜日 */
        font-size: 17px;
        line-height: 27px;
        margin-top: 11px;

        @include m.mq('pc'){
            font-size: 24px;
            line-height: 38px;
            margin-top: 2px;
        }
    }
    
    &__intervalOr { /* 間隔パート内の「or」 */
        font-size: 24px;
        font-weight: 700;
        line-height: 38px;
        margin-top: 33px;
        color: v.$text-color-br;

        @include m.mq('pc'){
            font-size: 36px;
            line-height: 58px;
        }
    }
    
    &__gallery { /* ギャラリー */
        
    }

    &__galleryContainer{ /* PC　ギャラリータイトルのインナー幅 */
        
        @include m.mq('pc'){
            width: 1140px;
            margin: 0 auto;
        }
    }
    
    &__titleWrap{ /* ギャラリーのタイトルと説明の余白調整 */
        margin: 0 40px;

        @include m.mq('pc'){
            margin: 0;
            display: flex;
            gap: 37px;
            align-items: flex-end;
        }
    }

    &__galleryTitle { /* ギャラリーのタイトル */
        font-family: Tangerine;
        font-size: 40px;
        line-height: 40px;

        @include m.mq('tab'){
            font-size: 50px;
            line-height: 50px;
        }

        @include m.mq('pc'){
            font-size: 80px;
            line-height: 80px;
        }
    }
    
    &__galleryText { /* ギャラリーの説明 */
        font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
        line-height: 26px;
        margin-top: 8px;

        @include m.mq('pc'){
            font-size: 18px;
            line-height: 29px;
        }
    }
    
    &__slider { /* スライダー */
        padding-top:44px;
        padding-bottom: 87px;

        @include m.mq('pc'){
            padding-top: 68px;
            padding-bottom: 49px;
        }
    }

    &__galleryContent{ /* 画像の幅とマージン */
        width: 56VW;
        height: auto;
        margin: 0 10px;
        position: relative;
        align-items: flex-end;

        @include m.mq('tab'){
            width: 200px;
            height: auto;
        }

        @include m.mq('pc'){
            width: 300px;
            height: auto;
        }
    }

    &__imgText{ /* 画像内のテキスト（コース名） */
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        display: inline-flex;
        font-size: 14px;
        line-height: 22px;
        background-color: #fff;
        padding: 12px 19px;
        // margin: 0 auto;
        white-space: nowrap;
        border-radius: 3px;
        // width: 168px;
        text-align: center;
        opacity: 0.8;
    }
}

.p-plan__slider .slick-slide {
    transform: scale(0.8); /* 左右の画像のサイズを80%に */
	transition: all .5s; /* 拡大や透過のアニメーションを0.5秒で行う */
	opacity: 0.7; /* 透過70% */
}

.p-plan__slider .slick-slide.slick-center{
	transform: scale(1); /* 中央の画像のサイズだけ等倍に */
	opacity: 1; /* 透過なし */
}

/*戻る、次へ矢印*/
.slick-prev,
.slick-next {
    position: absolute; /*絶対配置にする*/
    top: 43%;
    cursor: pointer; /*マウスカーソルを指マークに*/
    outline: none; /*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #333; /*矢印の色*/
    border-right: 2px solid #333; /*矢印の色*/
    height: 15px;
    width: 15px;
    z-index: 1;

    @include m.mq('tab'){
        top: 36.5%;
    }

    @include m.mq('pc'){
        width: 30px;
        height: 30px;
        top: 40.5%;
    }
}

.slick-prev { /*戻る矢印の位置と形状*/
    left: 15.5%;
    transform: rotate(-135deg);

    @include m.mq('tab'){
        position: absolute;
        left: calc(50% - 335px); /* 中心から指定の位置 */
        transform: translateY(-50%) rotate(-135deg);
    }

    @include m.mq('pc'){
        position: absolute;
        left: calc(50% - 485px); /* 中心から指定の位置 */
        transform: translateY(-50%) rotate(-135deg);
    }
}

.slick-next { /*次へ矢印の位置と形状*/
    right: 15.5%;
    transform: rotate(45deg);

    @include m.mq('tab'){
        position: absolute;
        right: calc(50% - 335px); /* 中心から指定の位置 */
        transform: translateY(-50%) rotate(45deg);
    }

    @include m.mq('pc'){
        position: absolute;
        right: calc(50% - 485px); /* 中心から指定の位置 */
        transform: translateY(-50%) rotate(45deg);
    }
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:40px 0 0 0;
    display: none;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px; /*ドットボタンのサイズ*/
    height:8px; /*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc; /*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333; /*ドットボタンの現在地表示の色*/
}