*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	height: 100%;
	scroll-behavior: smooth;
}

body {
	color: #333333;
	font-family: YuGothic, "Yu Gothic", sans-serif;
	font-weight: 400;
	line-height: 1.6;
}

img,
video,
object {
	border: none;
	display: block;
	height: auto;
	max-width: 100%;
}

a {
	color: #491D01;
	text-decoration: none;
}

a:hover {
	opacity: 0.8;
	transition: all 0.3s;
}

a:hover img {
	opacity: 0.8;
	text-decoration: none;
	transition: all 0.3s;
}

/*===================================================================
# ヘッダー
===================================================================*/

.l-header { /* メニュー ここから */ /* メニュー ここまで */ /* PC用のメニュー ここまで */
}

.l-header__inner {
	height: 80px;
	position: relative;
}

.l-header__contents {
	align-items: center;
	background-color: #F7F7F7;
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.l-header__logo {
	width: 165px; /* ロゴ画像 */
}

.l-header__nav {
	background-color: #ffd9d0;
	height: auto;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(105%);
	transition: all 0.5s ease 0s;
	width: 100%;
	z-index: 99;
}

.l-header__lists {
	font-size: 20px;
	margin-bottom: 145px;
	padding-top: 175px;
	text-align: center;
}

.l-header__list:not(:last-child) {
	margin-bottom: 40px;
}

/*===================================================================
# フッター
===================================================================*/

.l-footer {
	background-color: #f7f7f7;
	padding-top: 55px;
}

.l-footer__inner {
	margin: 0 auto;
	max-width: 1200px;
}

.l-footer__lists {
	text-align: center; /* フッターメニュー */
}

.l-footer__list {
	font-size: 14px;
}

.l-footer__list:not(:last-child) {
	margin-bottom: 10px;
}

.l-footer__copyrightPc {
	display: none; /* デフォルトは非表示 */ /* PC用のコピーライト */
	font-size: 20px;
	margin-top: 20px;
	text-align: center;
}

.l-footer__contentWrap {
	display: flex; /* ロゴとSNSアイコンを横並びにする */
	gap: 18px;
	margin: 25px auto 0;
	max-width: 325px;
}

.l-footer__logo {
	width: 162px; /* ロゴ */
}

.l-footer__icons {
	display: flex; /* SNSアイコン */
	gap: 18px;
}

.l-footer__icon {
	height: 29.05px;
	margin-top: 50px;
	opacity: 0.8;
	width: 29.05px;
}

.l-footer__info {
	color: #491D01;
	font-size: 14px; /* 住所とemail */
	line-height: 22px;
	margin: 0 auto;
	max-width: 280px;
}

.l-footer__copyrightSp {
	color: #491D01;
	display: block; /* SP用のコピーライト */
	font-size: 20px;
	margin-top: 65px;
	padding-bottom: 50px;
	text-align: center;
}

/*===================================================================
# インナー幅
===================================================================*/

.c-inner {
	margin: 0 auto;
}

/*===================================================================
# セクション
===================================================================*/

.c-section__title {
	font-family: "YuMincho", "Yu Mincho", "游明朝体", "Yu Mincho Light", sans-serif;
	padding-top: 60px; /* セクションタイトル */
	text-align: center;
}

.c-section__titleEn {
	display: block;
	font-size: 24px;
	font-weight: 600;
	line-height: 38px;
}

.c-section__titleJp {
	font-size: 14px;
	line-height: 22px;
}

/*===================================================================
# ホバー
===================================================================*/

.c-hover__link {
	position: relative;
}

.c-hover__link::after {
	background-color: #333;
	bottom: -12px;
	content: "";
	height: 1px;
	left: 50%;
	position: absolute; /* 下線の設定 */
	transform: translateX(-50%) scale(0); /* 横中央の中心から下線が拡がる */
	transition: all 0.3s ease;
	width: 100%;
}

.c-hover__link:hover::after {
	transform: translateX(-50%) scaleX(1); /* scaleXを1にすることで下線が表示される */
}

/*===================================================================
# ドロワーアイコン
===================================================================*/

.c-drawer {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 80px;
	z-index: 1001;
}

.c-drawer__bars {
	display: inline-block;
	height: 24px;
	margin-right: 30px;
	position: relative;
	width: 34px;
}

.c-drawer__bar {
	background: rgba(73, 29, 1, 0.8);
	border-radius: 4px;
	display: block;
	height: 4px;
	left: 0;
	position: absolute;
	transition: all 0.3s linear 0s;
	width: 100%;
}

.c-drawer__bar:nth-of-type(1) {
	top: 0;
}

.c-drawer__bar:nth-of-type(2) {
	top: 10px;
}

.c-drawer__bar:nth-of-type(3) {
	top: 20px;
}

/* ドロワーアイコンをクリックした時
メニューを右からスライドさせて表示する */

.l-header__nav.c-drawer__iconActive {
	transform: translateX(0);
}

/* ドロワーアイコンをバツにするアニメーション */

.c-drawer__iconActive.c-drawer__bar:nth-of-type(1) {
	top: 10px;
	transform: rotate(-45deg);
}

.c-drawer__iconActive.c-drawer__bar:nth-of-type(2) {
	background: transparent;
}

.c-drawer__iconActive.c-drawer__bar:nth-of-type(3) {
	top: 10px;
	transform: rotate(45deg);
}

/*===================================================================
# コンバージョンボタン（Call To Action）
===================================================================*/

.c-cta {
	background-color: #fff;
	bottom: 110px;
	left: 50%;
	position: fixed; /* スクロールしても追従するコンバージョンボタン */
	transform: translateX(-50%);
	transition: all 0.3s ease 0s;
	z-index: 101;
}

.c-cta__link {
	align-items: center;
	border: 0.5px solid #333;
	border-radius: 2px;
	box-shadow: 0px 2px 11px 0px rgba(51, 51, 51, 0.25);
	color: #333333;
	display: flex;
	flex-direction: column;
	height: 53px;
	justify-content: center;
	opacity: 0.8;
	position: relative;
	width: 215px;
}

.c-cta__link:hover {
	background-color: #FAEFEC;
}

.c-cta__link::after {
	background-image: url(../../../../../assets/img/cta-arrow.svg);
	background-repeat: no-repeat;
	background-size: 13px 8px;
	bottom: 7px;
	content: "";
	height: 13px;
	position: absolute; /* 矢印を擬似要素で表示 */
	right: 12px;
	width: 13px;
}

.c-cta__firstLine {
	font-size: 11px; /* 1行目のテキスト */
	line-height: 18px;
}

.c-cta__number {
	font-size: 13px; /* 50％Off */
	line-height: 21px;
}

.c-cta__secondLine {
	align-self: flex-start; /* 2行目は左寄せ */
	line-height: 27px; /* 2行目のテキスト */
	padding-left: 18px;
}

.c-cta.button-up {
	bottom: 90px; /* 画面の下まで来た時は位置を上げる */
}

/*===================================================================
# アバウトセクション
===================================================================*/

.p-about {
	background: url(../../../../../assets/img/about-bg-sp.png) no-repeat center center/cover;
	padding-bottom: 138px;
}

.p-about__inner {
	padding: 0 55px;
}

.p-about__container {
	border-radius: 4px;
	margin-top: 44px;
}

.p-about__container p {
	font-size: 16px;
}

/*===================================================================
# FAQセクション
===================================================================*/

.p-faq {
	background-image: url(../../../../../assets/img/faq-sp-bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 72px;
}

.p-faq__inner {
	padding-left: 20px;
	padding-right: 20px;
}

.p-faq__boxes {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-top: 79px;
}

.p-faq__box {
	background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.5) 100%);
	margin-left: auto;
	margin-right: auto;
	width: 335px;
}

.p-faq__head {
	display: block;
	position: relative;
	width: 100%;
}

.p-faq__head::before {
	background-color: #000066;
	content: "";
	height: 15px;
	left: 91%;
	position: absolute;
	top: 35%;
	transition: transform 0.5s;
	width: 2px;
}

.p-faq__head::after {
	background-color: #000066;
	content: "";
	height: 15px;
	left: 91%;
	position: absolute;
	top: 35%;
	transform: rotate(90deg);
	transition: opacity 1s;
	transition: opacity 0.5s;
	width: 2px;
}

.p-faq__minus::before {
	transform: rotate(90deg);
}

.p-faq__minus::after {
	opacity: 0;
}

.p-faq__jsButton {
	opacity: 0;
}

.p-faq__qBody {
	display: flex;
	flex-direction: row;
	max-width: 313px;
}

.p-faq__qIcon {
	background-color: #FFF;
	border: 1px solid;
	border-radius: 50%;
	height: 26px;
	margin: 18px 16px 18px 8px;
	width: 23px;
}

.p-faq__qText {
	margin-bottom: auto;
	margin-top: auto;
	max-width: 248px;
	text-align: left;
}

.p-faq__aWrapper {
	display: none;
}

.p-faq__aBody {
	display: flex;
	flex-direction: row;
	padding-bottom: 19px;
	padding-right: 19px;
}

.p-faq__aIcon {
	background-color: #FFF;
	border: 1px solid;
	border-radius: 50%;
	height: 26px;
	margin-left: 8px;
	margin-right: 6px;
	width: 23px;
}

.p-faq__a {
	display: block;
	text-align: center;
}

.p-faq__aInner {
	background-color: #F9F1F0;
	display: block;
	padding: 12px 13px;
	width: 279px;
}

.p-faq__aText {
	font-size: 14px;
	width: 253px;
}

.p-faq__spHidden {
	display: none;
}

/*===================================================================
# Flowセクション
===================================================================*/

/*===================================================================
# ファーストビューセクション
===================================================================*/

.p-fv {
	padding: 38px 0 184px;
	position: relative;
}

.p-fv__message {
	padding: 0 20px;
}

.p-fv__title {
	animation-delay: 5s;
	display: inline-block;
	font-size: 30px;
	line-height: normal;
	position: relative;
}

.p-fv__title::after {
	animation: border_anime 3s linear forwards;
	animation-delay: 9s;
	background: rgba(249, 169, 162, 0.3);
	border-radius: 50px;
	content: "";
	display: block;
	height: 30%;
	left: 40%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
}

.p-fv__sub-title {
	font-size: 22px;
	font-weight: 300;
	line-height: normal;
	margin-top: 14px;
}

.p-fv__picture {
	background: url(../../../../../assets/img/fv-flower.png) no-repeat center center/cover; /*画像変更*/
	margin-top: 37px;
	padding-top: 87.7333333333%;
}

.p-fv__scrollDown {
	animation: arrowmove 2s ease-in-out infinite;
	position: absolute;
	right: 12%;
}

.p-fv__scrollDown span {
	font-size: 12px;
	font-weight: 500;
	line-height: 1.14;
	text-orientation: upright;
	writing-mode: vertical-rl;
}

.p-fv__scrollDown::after {
	background: url(../img/guidance_down-arrow.png) no-repeat center center/contain;
	content: "";
	display: block;
	height: 80px;
	left: -20px;
	position: absolute;
	top: 0;
	width: 80px;
}

.fadeUp {
	animation-duration: 4s;
	animation-fill-mode: forwards;
	animation-name: fadeUpAnime;
	opacity: 0;
}

.delay-time02 {
	animation-delay: 6s;
}

/* ===============================================
# loader
=============================================== */

/*最初のTOP画像追加*/

.loader {
	align-items: center;
	background: url(../../../../../assets/img/loader-bg.png) no-repeat center/cover;
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 110;
}

.loader::after {
	background: rgba(255, 255, 255, 0.6);
	content: "";
	display: block;
	height: 100vh;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 120;
}

.loader__logo {
	content: "";
	display: block;
	display: none;
	height: 500px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	z-index: 130;
}

.loader__logo img {
	height: 100%;
	width: 100%;
}

/*===================================================================
# お申込みセクション
===================================================================*/

/*===================================================================
# プランセクション
===================================================================*/

.p-plan {
	background-image: url(../../../../../assets/img/plan-bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.p-plan__courseWrap {
	margin: 100px auto 0; /* コースパート全体 */
	text-align: center;
}

.p-plan__course {
	background-color: #FCFFFC;
	border: 1px solid #333; /* 各コース */
	height: auto;
	margin: 0 auto;
	padding-bottom: 50px;
	position: relative;
	width: 51.4666666667%;
}

.p-plan__upperText {
	background-color: #FCFFFC;
	left: 50%;
	padding: 0 5px;
	position: absolute; /* 枠のタイトル（選べるコース） */
	top: -10px;
	transform: translateX(-50%);
	white-space: nowrap;
}

.p-plan__courseTitle {
	margin-top: 20px; /* コース名 */
}

.p-plan__price { /* 金額 */
}

.p-plan__priceNum { /* 金額の数字 */
}

.p-plan__shipping { /* 送料無料 */
}

.p-plan__courseImg {
	height: auto;
	margin: 0 auto;
	width: 52.3560209424%; /* コース内の画像 */
}

.p-plan__lowerText {
	background-color: rgba(255, 217, 208, 0.8980392157);
	border-radius: 3px;
	bottom: 50px;
	left: 50%;
	opacity: 0.9;
	padding: 1px 15px;
	position: absolute; /* お花の本数 */
	transform: translateX(-50%);
	white-space: nowrap;
}

.p-plan__or {
	margin: 20px auto; /* プランの間にある「or」 */
}

.p-plan .p-plan__plus {
	height: 40px;
	margin: 30px auto;
	width: 40px; /* コースと選べる間隔との間にあるプラス画像 */
}

.p-plan__intervals {
	background-color: #FCFFFC;
	border: 1px solid #333; /* 選べる間隔パート */
	height: auto;
	margin: 0 auto 58px;
	padding-bottom: 50px;
	position: relative;
	text-align: center;
	width: 51.4666666667%;
}

.p-plan__intervalsTitle {
	background-color: #FCFFFC;
	left: 50%;
	padding: 0 5px;
	position: absolute; /* 選べる間隔のタイトル */
	top: -10px;
	transform: translateX(-50%);
	white-space: nowrap;
}

.p-plan__interval {
	margin-top: 30px; /* 間隔のパターン */
}

.p-plan__intervalWeelk { /* 毎週・隔週 */
}

.p-plan_intervalText { /* お好きな曜日 */
}

.p-plan__intervalOr { /* 間隔パート内の「or」 */
}

.p-plan__gallery { /* ギャラリー */
}

.p-plan__titleWrap {
	margin: 0 40px; /* ギャラリーのタイトルと説明の余白調整 */
}

.p-plan__galleryTitle {
	font-family: Tangerine; /* ギャラリーのタイトル */
	font-size: 40px;
	line-height: 40px;
}

.p-plan__slider {
	margin: 0 auto;
	width: 94%; /* 横幅94%で左右に余白を持たせて中央寄せ */ /* スライダー */
}

.p-plan__slider img {
	height: auto;
	width: 60vw; /* スライダー内の画像を60vwにしてレスポンシブ化 */
}

.p-plan__slider .slick-slide {
	opacity: 0.5; /* 透過50% */
	transform: scale(0.8); /* 左右の画像のサイズを80%に */
	transition: all 0.5s; /* 拡大や透過のアニメーションを0.5秒で行う */
}

.p-plan__slider .slick-slide.slick-center {
	opacity: 1; /* 透過なし */
	transform: scale(1); /* 中央の画像のサイズだけ等倍に */
}

/* 矢印の設定 */

/*戻る、次へ矢印の位置*/

.slick-prev,
.slick-next {
	border-right: 2px solid #666; /*矢印の色*/
	border-top: 2px solid #666; /*矢印の色*/
	cursor: pointer; /*マウスカーソルを指マークに*/
	height: 15px;
	outline: none; /*クリックをしたら出てくる枠線を消す*/
	position: absolute; /*絶対配置にする*/
	top: 42%;
	width: 15px;
}

.slick-prev {
	left: -1.5%; /*戻る矢印の位置と形状*/
	transform: rotate(-135deg);
}

.slick-next {
	right: -1.5%; /*次へ矢印の位置と形状*/
	transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
	margin: 20px 0 0 0;
	text-align: center;
}

.slick-dots li {
	display: inline-block;
	margin: 0 5px;
}

.slick-dots button {
	background: #ccc; /*ドットボタンの色*/
	border-radius: 50%;
	color: transparent;
	display: block;
	height: 8px; /*ドットボタンのサイズ*/
	outline: none;
	width: 8px; /*ドットボタンのサイズ*/
}

.slick-dots .slick-active button {
	background: #333; /*ドットボタンの現在地表示の色*/
}

/*===================================================================
# What's Daily Flower（サービス）セクション
===================================================================*/

.p-service {
	background: url(../../../../../assets/img/service-bg.png) no-repeat center center/cover;
	padding-bottom: 80px;
	position: relative;
}

.p-service::after {
	background: rgba(255, 255, 255, 0.3);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

.p-service__inner {
	margin: 0 auto;
	max-width: 1040px;
	position: relative;
	width: 100%;
	z-index: 30;
}

.p-service__list { /*SP縦並び*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 84px;
	padding: 0 48px;
}

.p-service__item {
	width: 100%;
}

.p-service__item + .p-service__item {
	margin-top: 80px;
}

.p-service__head {
	align-items: center;
	display: flex;
}

.p-service__headImg {
	width: 40px;
}

.p-service__headText--top {
	color: #491d01;
	font-family: "Tangerine", cursive; /*google fonts*/
	font-size: 32px;
}

.p-service__headText--bottom {
	color: #491d01;
	font-size: 18px;
}

.p-service__body {
	margin-top: 12px;
}

.p-service__bodyWrapper {
	border-radius: 4px;
	margin: 0 auto;
	overflow: hidden;
	width: 200px;
}

.p-service__bodyImg {
	padding-top: 100%;
	position: relative;
	transition-duration: 0.3s; /* 画像ホバー時のスケール削除*/
}

.p-service__bodyImg img {
	height: 120%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 120%;
}

.p-service__bodyText {
	font-size: 18px;
	line-height: normal;
	margin-top: 12px;
}

/*===================================================================
# Voiceセクション
===================================================================*/

.p-voice {
	background-image: url(../../../../../assets/img/voice-sp-bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 72px;
}

.p-voice__contents {
	display: flex;
	flex-direction: column;
	gap: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 117px;
	max-width: 335px; /*タブレットサイズで、contents部分がspのレイアウト（縦一列）のままだと左右の余白が開きすぎると
  考え、pcのレイアウト（2×2）でcontent部分やそのgapを調整しました。*/
}

.p-voice__content {
	background: #F7F7F7;
	border-radius: 3px;
	padding-left: 17px;
	padding-right: 17px;
}

.p-voice__prof {
	border-bottom: 1px solid #333;
	display: flex;
	flex-direction: row;
	gap: 32px;
}

.p-voice__profImg {
	margin: 5px auto;
	max-width: 70%;
}

.p-voice__profIcon {
	height: 75px;
	width: 75px;
	-webkit-clip-path: circle(50% at 50% 50%);
	background-color: #FCFFFC;
	border: 1px solid;
	border-radius: 50%;
	clip-path: circle(50% at 50% 50%);
	margin-left: 23px;
	margin-top: 24px;
}

.p-voice__profText {
	display: flex;
	flex-direction: column;
	gap: 4px;
	left: 0;
	padding-bottom: 14px;
	padding-top: 14px;
}

.p-voice__text {
	padding-bottom: 20px;
	padding-top: 14px;
}

.p-voice__textP {
	font-size: 20px;
}

.p-voice__profTitle {
	font-size: 18px;
	font-weight: 500;
}

.p-voice__profAge {
	font-size: 14px;
}

.p-voice__profRate > img {
	height: 26px;
	width: 120px;
}

/*===================================================================
# 改行のレスポンシブ
===================================================================*/

.u-br {
	display: block; /* スマホとPCでテキストの改行位置が変わる場合、brタグにこのクラスをつける */
}

@media screen and (min-width: 768px) {

.p-faq__box {
	width: 745px;
}

.p-faq__aInner {
	padding: 23px 24px 41px 24px;
	width: 689px;
}

.p-faq__spHidden {
	display: inline;
}

.p-service__list { /*PC,TAB横並び*/
	flex-direction: row;
	margin: 51px auto 0;
	padding: 0 20px;
}

.p-service__item {
	width: 240px;
}

.p-service__item + .p-service__item {
	margin-top: 0;
}

.p-service__bodyWrapper {
	width: 200px;
}

.p-voice__contents {
	display: grid;
	gap: 60px 50px;
	grid-template-columns: repeat(auto-fit, minmax(335px, 2fr));
	max-width: 768px;
}

.u-br {
	display: none;
}

}

@media screen and (min-width: 1240px) {

.l-header__inner {
	margin-left: 0;
	margin-right: 0;
}

.l-header__contents {
	gap: 170px;
	justify-content: flex-start;
}

.l-header__logo {
	margin-left: 100px;
}

.l-header__nav {
	background-color: #f7f7f7;
	position: static;
	right: auto;
	top: auto;
	transform: none;
	width: auto;
	z-index: 0;
}

.l-header__lists {
	align-items: center;
	display: flex;
	gap: 21px;
	margin-bottom: 0;
	padding-top: 0;
}

.l-header__list:not(:last-child) {
	margin-bottom: 0;
}

.l-footer {
	padding-bottom: 40px;
	padding-top: 25px;
}

.l-footer__contents {
	display: flex; /* PCでは横並びにして、左右を入れ替える */
	flex-direction: row-reverse;
	justify-content: space-between;
}

.l-footer__lists {
	margin-top: 15px;
}

.l-footer__list {
	font-size: 20px;
}

.l-footer__copyrightPc {
	display: block;
}

.l-footer__contentWrap {
	gap: 30px;
	max-width: 410px;
}

.l-footer__info {
	font-size: 20px;
	line-height: 32px;
	margin-left: 25px;
	margin-top: -7px;
	max-width: 390px;
}

.l-footer__copyrightSp {
	display: none; /* PCでは非表示にする */
}

.c-inner {
	max-width: 1240px; /* インナー幅は1240px */
}

.c-section__titleEn {
	font-size: 32px;
	line-height: 51px;
}

.c-section__titleJp {
	font-size: 18px;
	line-height: 29px;
}

.c-drawer {
	display: none;
}

.c-cta {
	bottom: auto;
	left: 61.11111%;
	top: 553px;
	transform: translateX(0);
}

.c-cta__link {
	border-radius: 4px;
	height: 96px;
	width: 389px;
}

.c-cta__link::after {
	background-size: 24px 14px;
	bottom: 13px;
	height: 24px;
	right: 24px;
	width: 24px;
}

.c-cta__firstLine {
	font-size: 20px;
	line-height: 32px;
}

.c-cta__number {
	font-size: 24px;
	line-height: 38px;
}

.c-cta__secondLine {
	font-size: 30px;
	line-height: 48px;
	padding-left: 28px;
}

.p-about {
	background: url(../../../../../assets/img/about-bg.png) no-repeat center center/cover;
	padding-bottom: 84px;
}

.p-about__inner {
	margin: 0 auto;
	max-width: 820px;
	padding: 0;
}

.p-about__container {
	margin-top: 78px;
}

.p-about__container p {
	font-size: 20px;
}

.p-faq {
	background-image: url(../../../../../assets/img/faq-pc-bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.p-faq__inner {
	padding-left: 0;
	padding-right: 0;
}

.p-faq__box {
	background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.5) 100%);
	width: 1240px;
}

.p-faq__head::before {
	left: 95%;
}

.p-faq__head::after {
	left: 95%;
}

.p-faq__qBody {
	max-width: 1240px;
}

.p-faq__qIcon {
	margin: 20px 18px 26px 33px;
}

.p-faq__qText {
	max-width: 100%;
}

.p-faq__aIcon {
	margin-left: 32px;
	margin-right: 18px;
}

.p-faq__aInner {
	padding: 23px 21px 29px;
	width: 1108px;
}

.p-faq__aText {
	font-size: 16px;
	width: 1060px;
}

.p-fv {
	padding: 0;
}

.p-fv__message {
	left: 61.1111111111%;
	position: absolute;
	top: 29%;
}

.p-fv__title {
	font-size: 50px;
}

.p-fv__title::after {
	height: 40%;
}

.p-fv__sub-title {
	font-size: 30px; /*font-size修正*/
	margin-top: 47px;
}

.p-fv__picture {
	background: url(../../../../../assets/img/fv-flower.png) no-repeat top left/72.9166666667%;
	margin-top: 0;
	padding-top: 48.6111111111%;
}

.p-fv__scrollDown {
	bottom: 10px;
	right: 4.7916666667%;
	right: 6%;
}

.p-fv__scrollDown span {
	font-size: 14px;
}

.p-fv__scrollDown::after {
	height: 100px;
	left: -30px;
	width: 100px;
}

.p-service {
	padding-bottom: 109px;
}

.p-service__list { /*PC,TAB横並び*/
	flex-direction: row;
	margin: 51px auto 0;
	padding: 0;
}

.p-service__item {
	width: 260px;
}

.p-service__item + .p-service__item {
	margin-top: 0;
}

.p-service__headImg {
	width: 49px;
}

.p-service__headText--top {
	font-size: 40px;
}

.p-service__headText--bottom {
	font-size: 22px;
}

.p-service__body {
	margin-top: 15px;
}

.p-service__bodyWrapper {
	width: 220px;
}

.p-service__bodyText {
	font-size: 18px;
	line-height: normal;
	margin-top: 19px;
}

.p-voice {
	background-image: url(../../../../../assets/img/voice-pc-bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.p-voice__contents {
	display: grid;
	gap: 60px 139px;
	grid-template-columns: repeat(auto-fit, minmax(550px, 2fr));
	margin-top: 47px;
	max-width: 1240px;
}

.p-voice__prof {
	gap: 47px;
}

.p-voice__profIcon {
	height: 90px;
	margin-left: 15px;
	margin-top: 9px;
	width: 90px;
}

.p-voice__profText {
	padding-bottom: 7px;
	padding-top: 25px;
}

.p-voice__text {
	padding: 22px 22px 22px 23px;
}

.p-voice__profTitle {
	font-size: 24px;
}

.p-voice__profRight {
	display: flex;
	flex-direction: row;
	gap: 35px;
}

.p-voice__profAge {
	font-size: 20px;
}

.p-voice__profRate > img {
	height: 32px;
	width: 155px;
}

}

@keyframes border_anime {

0% {
	width: 0;
}

100% {
	width: 47%;
}

}

@keyframes arrowmove {

0% {
	bottom: 1%;
}

50% {
	bottom: 3%;
}

100% {
	bottom: 1%;
}

}

@keyframes fadeUpAnime {

from {
	opacity: 0;
	transform: translateY(100px);
}

to {
	opacity: 1;
	transform: translateY(0);
}

}

