*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	height: 100%;
	scroll-behavior: smooth;
}

body {
	color: #333333;
	font-family: YuGothic, "Yu Gothic", sans-serif;
	font-weight: 400;
	line-height: 1.6;
}

img,
video,
object {
	border: none;
	display: block;
	height: auto;
	max-width: 100%;
}

a {
	color: #491D01;
	text-decoration: none;
}

a:hover {
	opacity: 0.8;
	transition: all 0.3s;
}

a:hover img {
	opacity: 0.8;
	text-decoration: none;
	transition: all 0.3s;
}

/*===================================================================
# ヘッダー
===================================================================*/

.l-header { /* SP用のメニュー ここから */ /* SP用のメニュー ここまで */ /* PC用のメニュー ここから */ /* PC用のメニュー ここまで */
}

.l-header__inner {
	height: 80px;
	position: relative;
	z-index: 100;
}

.l-header__contents {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-right: 30px;
}

.l-header__logo {
	width: 165px; /* ロゴ画像 */
}

.l-header__navSp {
	background-color: #F0E6E5;
	height: auto;
	opacity: 0.8;
	position: fixed;
	right: 0;
	top: 0px;
	transform: translateX(105%);
	transition: all 0.5s ease 0s;
	width: 100%;
	z-index: 99;
}

.l-header__listsSp {
	font-size: 20px;
	margin-bottom: 145px;
	padding-top: 175px;
	text-align: center;
}

.l-header__listSp:not(:last-child) {
	margin-bottom: 40px;
}

.l-header__navPc {
	display: none;
}

.l-header__listPc {
	font-size: 20px;
}

/*===================================================================
# フッター
===================================================================*/

.l-footer {
	background-color: #f7f7f7;
	padding-top: 55px;
}

.l-footer__inner {
	margin: 0 auto;
	max-width: 1200px;
}

.l-footer__lists {
	text-align: center; /* フッターメニュー */
}

.l-footer__list {
	font-size: 14px;
}

.l-footer__list:not(:last-child) {
	margin-bottom: 10px;
}

.l-footer__copyrightPc {
	display: none; /* デフォルトは非表示 */ /* PC用のコピーライト */
	font-size: 20px;
	margin-top: 20px;
	text-align: center;
}

.l-footer__contentWrap {
	display: flex; /* ロゴとSNSアイコンを横並びにする */
	gap: 18px;
	margin: 25px auto 0;
	max-width: 325px;
}

.l-footer__logo {
	width: 162px; /* ロゴ */
}

.l-footer__icons {
	display: flex; /* SNSアイコン */
	gap: 18px;
}

.l-footer__icon {
	height: 29.05px;
	margin-top: 50px;
	opacity: 0.8;
	width: 29.05px;
}

.l-footer__info {
	color: #491D01;
	font-size: 14px; /* 住所とemail */
	line-height: 22px;
	margin: 0 auto;
	max-width: 280px;
}

.l-footer__copyrightSp {
	color: #491D01;
	display: block; /* SP用のコピーライト */
	font-size: 20px;
	margin-top: 65px;
	padding-bottom: 50px;
	text-align: center;
}

/*===================================================================
# インナー幅
===================================================================*/

.c-inner {
	margin: 0 auto;
}

/*===================================================================
# セクション
===================================================================*/

.c-section__title {
	font-family: Yu Mincho;
	padding-top: 60px; /* セクションタイトル */
	text-align: center;
}

.c-section__titleEn {
	display: block;
	font-size: 24px;
	font-weight: 600;
	line-height: 38px;
}

.c-section__titleJp {
	font-size: 14px;
	line-height: 22px;
}

/*===================================================================
# ホバー
===================================================================*/

.c-hover__link {
	position: relative;
}

.c-hover__link::after {
	background-color: #333;
	bottom: -12px;
	content: "";
	height: 1px;
	left: 50%;
	position: absolute; /* 下線の設定 */
	transform: translateX(-50%) scale(0); /* 横中央の中心から下線が拡がる */
	transition: all 0.3s ease;
	width: 100%;
}

.c-hover__link:hover::after {
	transform: translateX(-50%) scaleX(1); /* scaleXを1にすることで下線が表示される */
}

/*===================================================================
# ドロワーアイコン
===================================================================*/

.c-drawer {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 80px;
}

.c-drawer__bars {
	display: inline-block;
	height: 24px;
	position: relative;
	width: 34px;
}

.c-drawer__bar {
	background: rgba(73, 29, 1, 0.8);
	border-radius: 4px;
	display: block;
	height: 4px;
	left: 0;
	position: absolute;
	transition: all 0.3s linear 0s;
	width: 100%;
}

.c-drawer__bar:nth-of-type(1) {
	top: 0;
}

.c-drawer__bar:nth-of-type(2) {
	top: 10px;
}

.c-drawer__bar:nth-of-type(3) {
	top: 20px;
}

/* ドロワーアイコンをクリックした時
メニューを右からスライドさせて表示する */

.l-header__navSp.c-drawer__iconActive {
	transform: translateX(0);
}

/* ドロワーアイコンをバツにするアニメーション */

.c-drawer__iconActive.c-drawer__bar:nth-of-type(1) {
	top: 10px;
	transform: rotate(-45deg);
}

.c-drawer__iconActive.c-drawer__bar:nth-of-type(2) {
	background: transparent;
}

.c-drawer__iconActive.c-drawer__bar:nth-of-type(3) {
	top: 10px;
	transform: rotate(45deg);
}

/*===================================================================
# コンバージョンボタン（Call To Action）
===================================================================*/

.c-cta {
	bottom: 50px;
	left: 50%;
	position: fixed; /* スクロールしても追従するコンバージョンボタン */
	transform: translateX(-50%);
	transition: all 0.3s ease 0s;
	z-index: 101;
}

.c-cta__link {
	align-items: center;
	background-color: transparent;
	border: 0.5px solid #333;
	border-radius: 2px;
	box-shadow: 0px 2px 11px 0px rgba(51, 51, 51, 0.25);
	color: #333333;
	display: flex;
	flex-direction: column;
	height: 53px;
	justify-content: center;
	opacity: 0.8;
	position: relative;
	width: 215px;
}

.c-cta__link:hover {
	background-color: #FAEFEC;
}

.c-cta__link::after {
	background-image: url(../../../../../assets/img/cta-arrow.svg);
	background-repeat: no-repeat;
	background-size: 13px 8px;
	bottom: 7px;
	content: "";
	height: 13px;
	position: absolute; /* 矢印を擬似要素で表示 */
	right: 12px;
	width: 13px;
}

.c-cta__firstLine {
	font-size: 11px; /* 1行目のテキスト */
	line-height: 18px;
}

.c-cta__number {
	font-size: 13px; /* 50％Off */
	line-height: 21px;
}

.c-cta__secondLine {
	align-self: flex-start; /* 2行目は左寄せ */
	line-height: 27px; /* 2行目のテキスト */
	padding-left: 18px;
}

.c-cta.button-up {
	bottom: 90px; /* 画面の下まで来た時は位置を上げる */
}

/*===================================================================
# アバウトセクション
===================================================================*/

/*===================================================================
# FAQセクション
===================================================================*/

/*===================================================================
# ファーストビューセクション
===================================================================*/

/*===================================================================
# ご利用方法セクション
===================================================================*/

/*===================================================================
# お申込みセクション
===================================================================*/

/*===================================================================
# 選べるプランセクション
===================================================================*/

.p-plan {
	background-image: url(../../../../../assets/img/plan-bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*===================================================================
# Daily Flowerとは（サービス）セクション
===================================================================*/

/*===================================================================
# Voiceセクション
===================================================================*/

/*===================================================================
# 改行のレスポンシブ
===================================================================*/

.u-br {
	display: block; /* スマホとPCでテキストの改行位置が変わる場合、brタグにこのクラスをつける */
}

@media screen and (min-width: 768px) {

.u-br {
	display: none;
}

}

@media screen and (min-width: 1240px) {

.l-header__contents {
	margin-right: 12px;
}

.l-header__navPc {
	display: block;
}

.l-header__listsPc {
	display: flex;
	gap: 20px;
}

.l-footer {
	padding-bottom: 40px;
	padding-top: 25px;
}

.l-footer__contents {
	display: flex; /* PCでは横並びにして、左右を入れ替える */
	flex-direction: row-reverse;
	justify-content: space-between;
}

.l-footer__lists {
	margin-top: 15px;
}

.l-footer__list {
	font-size: 20px;
}

.l-footer__copyrightPc {
	display: block;
}

.l-footer__contentWrap {
	gap: 30px;
	max-width: 410px;
}

.l-footer__info {
	font-size: 20px;
	line-height: 32px;
	margin-left: 25px;
	margin-top: -7px;
	max-width: 390px;
}

.l-footer__copyrightSp {
	display: none; /* PCでは非表示にする */
}

.c-inner {
	max-width: 1240px; /* インナー幅は1240px */
}

.c-drawer {
	display: none;
}

.c-cta {
	bottom: auto;
	left: auto;
	right: 11.8056%;
	top: 300px;
	transform: translateX(0);
}

.c-cta__link {
	height: 96px;
	width: 389px;
}

.c-cta__link::after {
	background-size: 24px 14px;
	bottom: 13px;
	height: 24px;
	right: 24px;
	width: 24px;
}

.c-cta__firstLine {
	font-size: 20px;
	line-height: 32px;
}

.c-cta__number {
	font-size: 24px;
	line-height: 38px;
}

.c-cta__secondLine {
	font-size: 30px;
	line-height: 48px;
	padding-left: 28px;
}

}

