/*--------------------------------------*
 * foundation
 *--------------------------------------*/

/* base
--------------------------- */

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	height: 100%;
	line-height: 400;
	scroll-behavior: smooth;
}

body {
	color: #333333;
	font-family: "Lora", "Noto Serif JP", sans-serif;
	min-width: 375px;
	width: 100%;
}

img,
video,
object {
	border: none;
	display: block;
	height: auto;
	max-width: 100%;
}

a {
	color: #0066c0;
	text-decoration: none;
}

a:hover {
	opacity: 0.8;
	transition: all 0.3s;
}

a:hover img {
	opacity: 0.8;
	text-decoration: none;
	transition: all 0.3s;
}

/*--------------------------------------*
* global
*--------------------------------------*/

/*--------------------------------------*
* layout
*--------------------------------------*/

/*--------------------------------------*
* global
*--------------------------------------*/

/*--------------------------------------*
* global
*--------------------------------------*/

/*--------------------------------------*
* object
*--------------------------------------*/

/*--------------------------------------*
* component
*--------------------------------------*/

/*--------------------------------------*
* global
*--------------------------------------*/

/*--------------------------------------*
* global
*--------------------------------------*/

/*--------------------------------------*
* global
*--------------------------------------*/

/*--------------------------------------*
* global
*--------------------------------------*/

.c-drawer {
	cursor: pointer;
}

.c-drawer__bars {
	display: inline-block;
	height: 20px;
	position: relative;
	width: 22px;
}

.c-drawer__bar {
	background: #5c5c5c;
	border-radius: 4px;
	display: block;
	height: 4px;
	left: 0;
	position: absolute;
	transition: all 0.3s linear 0s;
	width: 100%;
}

.c-drawer__bar:nth-of-type(1) {
	top: 0;
}

.c-drawer__bar:nth-of-type(2) {
	top: 8px;
}

.c-drawer__bar:nth-of-type(3) {
	top: 16px;
}

.l-header__nav.c-drawer--active {
	transform: translateX(0);
}

.c-drawer--active .c-drawer__bar:nth-of-type(1) {
	top: 10px;
	transform: rotate(-45deg);
}

.c-drawer--active .c-drawer__bar:nth-of-type(2) {
	background: transparent;
}

.c-drawer--active .c-drawer__bar:nth-of-type(3) {
	top: 10px;
	transform: rotate(45deg);
}

/*--------------------------------------*
* global
*--------------------------------------*/

.c-cta {
	bottom: 5px;
	position: fixed;
	right: 16px;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	z-index: 101;
}

.c-cta img {
	height: 49px;
	width: 49px;
}

.c-cta__show {
	opacity: 1;
	visibility: visible;
}

/*--------------------------------------*
* project
*--------------------------------------*/

/*--------------------------------------*
* global
*--------------------------------------*/

/*--------------------------------------*
* global
*--------------------------------------*/

/*--------------------------------------*
* global
*--------------------------------------*/

.p-fv__message {
	background-color: #382620;
	font-size: 18px;
}

/*--------------------------------------*
* global
*--------------------------------------*/

/*--------------------------------------*
* global
*--------------------------------------*/

/*--------------------------------------*
* global
*--------------------------------------*/

/*--------------------------------------*
* global
*--------------------------------------*/

/*--------------------------------------*
* utility
*--------------------------------------*/

/*--------------------------------------*
* global
*--------------------------------------*/

.u-br {
	display: block;
}

@media screen and (min-width: 768px) {

.c-cta {
	bottom: 42px;
	right: 40.5px;
}

.p-fv__message {
	font-size: 22px;
}

.u-br {
	display: none;
}

}

@media screen and (min-width: 1240px) {

.c-drawer {
	display: none;
}

}

