@use "../../global/variables" as v;
@use "../../global/mixin" as m;

.c-cta {
    position: fixed; /* スクロールしても追従するボタン */
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    transition: all 0.3s ease 0s;
    z-index: 101;

    &__link{
        color: v.$text-color-bk;
        background-color: transparent;
        border: 0.5px solid #333;
        border-radius: 2px;
        width: 215px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 2px 11px 0px rgba(51, 51, 51, 0.25);
        position: relative;
        opacity: 0.8;

        @include m.mq('pc'){
            width: 389px;
        }

        &:hover{
            background-color: #FAEFEC;
        }

        &::after{ /* 矢印 */
            position: absolute;
            content: "";
            background-image: url(../../../../../assets/img/cta-arrow.svg);
            width: 13px;
            height: 8px;
            right: 12px;
            bottom: 12px;
        }
    }

    &__firstLine{ /* 1行目のテキスト */
        font-size: 11px;
        line-height: 18px;
    }

    &__number{ /* 50％Off */
        font-size: 13px;
        line-height: 21px;
    }

    &__secondLine{ /* 2行目のテキスト */
        line-height: 27px;
    }
}