@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #333333;
}

img,
video,
object {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

a {
  color: #491D01;
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
  transition: all 0.3s;
}

a:hover img {
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.3s;
}

/*===================================================================
# ヘッダー
===================================================================*/
.l-header {
  /* SP用のメニュー ここから */
  /* SP用のメニュー ここまで */
  /* PC用のメニュー ここから */
  /* PC用のメニュー ここまで */
}
.l-header__inner {
  height: 80px;
  position: relative;
  z-index: 100;
}
.l-header__contents {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  align-items: center;
}
@media screen and (min-width: 1240px) {
  .l-header__contents {
    margin-right: 12px;
  }
}
.l-header__logo { /* ロゴ画像 */
  width: 165px;
}
.l-header__navSp {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0px;
  right: 0;
  z-index: 99;
  transform: translateX(105%);
  transition: all 0.5s ease 0s;
  background-color: #F0E6E5;
  opacity: 0.8;
}
.l-header__listsSp {
  padding-top: 175px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 145px;
}
.l-header__listSp:not(:last-child) {
  margin-bottom: 40px;
}
.l-header__navPc {
  display: none;
}
@media screen and (min-width: 1240px) {
  .l-header__navPc {
    display: block;
  }
}
@media screen and (min-width: 1240px) {
  .l-header__listsPc {
    display: flex;
    gap: 20px;
  }
}
.l-header__listPc {
  font-size: 20px;
}

/*===================================================================
# フッター
===================================================================*/
.l-footer {
  padding-top: 55px;
  background-color: #f7f7f7;
}
@media screen and (min-width: 1240px) {
  .l-footer {
    padding-top: 25px;
    padding-bottom: 40px;
  }
}
.l-footer__inner {
  margin: 0 auto;
  max-width: 1200px;
}
@media screen and (min-width: 1240px) {
  .l-footer__contents { /* PCでは横並びにして、左右を入れ替える */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.l-footer__lists { /* フッターメニュー */
  text-align: center;
}
@media screen and (min-width: 1240px) {
  .l-footer__lists {
    margin-top: 15px;
  }
}
.l-footer__list {
  font-size: 14px;
}
.l-footer__list:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1240px) {
  .l-footer__list {
    font-size: 20px;
  }
}
.l-footer__copyrightPc { /* PC用のコピーライト */
  display: none; /* デフォルトは非表示 */
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}
@media screen and (min-width: 1240px) {
  .l-footer__copyrightPc {
    display: block;
  }
}
.l-footer__contentWrap { /* ロゴとSNSアイコンを横並びにする */
  display: flex;
  gap: 18px;
  max-width: 325px;
  margin: 25px auto 0;
}
@media screen and (min-width: 1240px) {
  .l-footer__contentWrap {
    gap: 30px;
    max-width: 410px;
  }
}
.l-footer__logo { /* ロゴ */
  width: 162px;
}
.l-footer__icons { /* SNSアイコン */
  display: flex;
  gap: 18px;
}
.l-footer__icon {
  width: 29.05px;
  height: 29.05px;
  opacity: 0.8;
  margin-top: 50px;
}
.l-footer__info { /* 住所とemail */
  font-size: 14px;
  color: #491D01;
  max-width: 280px;
  margin: 0 auto;
  line-height: 22px;
}
@media screen and (min-width: 1240px) {
  .l-footer__info {
    font-size: 20px;
    line-height: 32px;
    max-width: 390px;
    margin-top: -7px;
    margin-left: 25px;
  }
}
.l-footer__copyrightSp { /* SP用のコピーライト */
  display: block;
  text-align: center;
  color: #491D01;
  font-size: 20px;
  margin-top: 65px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1240px) {
  .l-footer__copyrightSp {
    display: none; /* PCでは非表示にする */
  }
}

/*===================================================================
# インナー幅
===================================================================*/
.c-inner {
  margin: 0 auto;
}
@media screen and (min-width: 1240px) {
  .c-inner {
    max-width: 1240px; /* インナー幅は1240px */
  }
}

/*===================================================================
# セクション
===================================================================*/
.c-section__title { /* セクションタイトル */
  padding-top: 60px;
  text-align: center;
  font-family: "YuMincho", "Yu Mincho", "游明朝体", "Yu Mincho Light", sans-serif;
}
.c-section__titleEn {
  display: block;
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
}
@media screen and (min-width: 1240px) {
  .c-section__titleEn {
    font-size: 32px;
    line-height: 51px;
  }
}
.c-section__titleJp {
  font-size: 14px;
  line-height: 22px;
}
@media screen and (min-width: 1240px) {
  .c-section__titleJp {
    font-size: 18px;
    line-height: 29px;
  }
}

/*===================================================================
# ホバー
===================================================================*/
.c-hover__link {
  position: relative;
}
.c-hover__link::after { /* 下線の設定 */
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%) scale(0); /* 横中央の中心から下線が拡がる */
  bottom: -12px;
  width: 100%;
  height: 1px;
  background-color: #333;
  transition: all 0.3s ease;
}
.c-hover__link:hover::after {
  transform: translateX(-50%) scaleX(1); /* scaleXを1にすることで下線が表示される */
}

/*===================================================================
# ドロワーアイコン
===================================================================*/
.c-drawer {
  cursor: pointer;
  height: 80px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1240px) {
  .c-drawer {
    display: none;
  }
}
.c-drawer__bars {
  display: inline-block;
  width: 34px;
  height: 24px;
  position: relative;
}
.c-drawer__bar {
  position: absolute;
  display: block;
  background: rgba(73, 29, 1, 0.8);
  width: 100%;
  height: 4px;
  left: 0;
  border-radius: 4px;
  transition: all 0.3s linear 0s;
}
.c-drawer__bar:nth-of-type(1) {
  top: 0;
}
.c-drawer__bar:nth-of-type(2) {
  top: 10px;
}
.c-drawer__bar:nth-of-type(3) {
  top: 20px;
}

/* ドロワーアイコンをクリックした時
メニューを右からスライドさせて表示する */
.l-header__navSp.c-drawer__iconActive {
  transform: translateX(0);
}

/* ドロワーアイコンをバツにするアニメーション */
.c-drawer__iconActive.c-drawer__bar:nth-of-type(1) {
  top: 10px;
  transform: rotate(-45deg);
}
.c-drawer__iconActive.c-drawer__bar:nth-of-type(2) {
  background: transparent;
}
.c-drawer__iconActive.c-drawer__bar:nth-of-type(3) {
  top: 10px;
  transform: rotate(45deg);
}

/*===================================================================
# コンバージョンボタン（Call To Action）
===================================================================*/
.c-cta {
  position: fixed; /* スクロールしても追従するコンバージョンボタン */
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  transition: all 0.3s ease 0s;
  z-index: 101;
}
@media screen and (min-width: 1240px) {
  .c-cta {
    left: auto;
    right: 11.8056%;
    transform: translateX(0);
    top: 300px;
    bottom: auto;
  }
}
.c-cta__link {
  color: #333333;
  background-color: transparent;
  border: 0.5px solid #333;
  border-radius: 2px;
  width: 215px;
  height: 53px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 11px 0px rgba(51, 51, 51, 0.25);
  position: relative;
  opacity: 0.8;
}
@media screen and (min-width: 1240px) {
  .c-cta__link {
    width: 389px;
    height: 96px;
  }
}
.c-cta__link:hover {
  background-color: #FAEFEC;
}
.c-cta__link::after { /* 矢印を擬似要素で表示 */
  position: absolute;
  content: "";
  background-image: url(../../../../../assets/img/cta-arrow.svg);
  background-repeat: no-repeat;
  background-size: 13px 8px;
  width: 13px;
  height: 13px;
  right: 12px;
  bottom: 7px;
}
@media screen and (min-width: 1240px) {
  .c-cta__link::after {
    background-size: 24px 14px;
    width: 24px;
    height: 24px;
    right: 24px;
    bottom: 13px;
  }
}
.c-cta__firstLine { /* 1行目のテキスト */
  font-size: 11px;
  line-height: 18px;
}
@media screen and (min-width: 1240px) {
  .c-cta__firstLine {
    font-size: 20px;
    line-height: 32px;
  }
}
.c-cta__number { /* 50％Off */
  font-size: 13px;
  line-height: 21px;
}
@media screen and (min-width: 1240px) {
  .c-cta__number {
    font-size: 24px;
    line-height: 38px;
  }
}
.c-cta__secondLine { /* 2行目のテキスト */
  line-height: 27px;
  align-self: flex-start; /* 2行目は左寄せ */
  padding-left: 18px;
}
@media screen and (min-width: 1240px) {
  .c-cta__secondLine {
    font-size: 30px;
    line-height: 48px;
    padding-left: 28px;
  }
}

.c-cta.button-up {
  bottom: 90px; /* 画面の下まで来た時は位置を上げる */
}

/*===================================================================
# アバウトセクション
===================================================================*/
/*===================================================================
# FAQセクション
===================================================================*/
/*===================================================================
# Flowセクション
===================================================================*/
/*===================================================================
# ファーストビューセクション
===================================================================*/
/*===================================================================
# お申込みセクション
===================================================================*/
/*===================================================================
# プランセクション
===================================================================*/
.p-plan {
  background-image: url(../../../../../assets/img/plan-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 1500px;
}

/*===================================================================
# What's Daily Flower（サービス）セクション
===================================================================*/
/*===================================================================
# Voiceセクション
===================================================================*/
/*===================================================================
# 改行のレスポンシブ
===================================================================*/
.u-br { /* スマホとPCでテキストの改行位置が変わる場合、brタグにこのクラスをつける */
  display: block;
}
@media screen and (min-width: 768px) {
  .u-br {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */